﻿@using GuessingGame.WebSite.Mvc.Models
@model GuessingGame.WebSite.Mvc.Models.GameModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Guessing Game (MVC)</h1>
    <p>Let the games begin!</p>
</div>

<div class="text-center">
    <div class="container">
        <div class="panel panel-default Score-Panel"  >
            <div class="panel-heading"><h5>Score</h5></div>
            <hr class="Straight-Line" />
            <div class="panel-body">
                <h6>Hints: @Model.NumberOfHints  Guess: @Model.NumberOfGuesses</h6>
            </div>
        </div>
    </div>
</div>
<hr  />
<form method="post">
    <div class="container">
        <div class="text-center">
            <div class="row ">
                <div class="Panel w-100 p-2 Input-Panel">
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
                            <div class="btn-toolbar">
                                
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HelpModal">
                                    Help
                                </button>
               
                            </div>
                    </nav>
                    <h6> Guess the number</h6>

                    <div class="container">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>@Model.MessageTitle</strong> @Model.Message
                        </div>
                    </div>

                    <input class="text" name="getInput"/>
                    <hr  class="straight_line" />
                    <div class="container">
                        <input class="btn-info Game-Buttons" type="submit" value=" Hint " asp-action="Hint" />
                        <input class="btn-info Game-Buttons" type="submit" value=" Guess " asp-action="Guess" />
                        <input class="btn-info Game-Buttons" type="submit" value=" Restart " asp-action="Restart" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal" id="HelpModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Game Instructions</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <dl>
                    <dt>Hint</dt>
                    <dd>- This buttom will give you information about the answer</dd>
                    <dt>Guess</dt>
                    <dd>- This will tell if you answer is correct or not</dd>
                </dl>
            </div>
            <!-- Modal footer -->

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
