﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Guessing Game";
}

<div class="jumbotron text-center">
    <h1>Guessing Game</h1>
    <p>Let the games begin!</p>
</div>

<form method="post">
    
    <div class="container">
        
        <div class="text-center">
            
            <h3>HINTS:@Model.Hintleft</h3> 
            <h3>GUESSES LEFT:@Model.GuessLeft</h3>
            
            <div class="row ">
                <div class="Panel w-100 p-2" style="border:groove;border-color:black">
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
                        <ul class="navbar-nav">
                            <li class="nav-itemEU">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HelpModal">
                                    Help
                                </button>
                            </li>

                        </ul>
                    </nav>

                    <h3> Guess the number</h3>
                    <input type="text" name="getInput" class="display-10 getInput" >

                    <div class="container">
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>@Model.InputBoxTitle:</strong> @Model.InputBoxMessage
                        </div>
                    </div>

                    <hr style="background-color:darkgray" />
                    
                    <div class="container">
                        <input class="btn-dark" type="submit" asp-page-handler="Hints"
                               style="text-align:center" value=" Hint "  />
                        <input class="btn-dark" type="submit" asp-page-handler="Guess"
                               style="text-align:center" value=" Guess " />
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal" id="HelpModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Game Instructions</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <dl>
                    <dt>Hint</dt>
                    <dd>- This buttom will give you information about the answer</dd>
                    <dt>Guess</dt>
                    <dd>- This will tell if you answer is correct or not</dd>
                </dl>
            </div>
            <!-- Modal footer -->
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>