﻿@{
    <title>ViewData["Title"] = "Welcome"</title>
}

<h2>Welcome</h2>
<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>
<p>Hello from our View Template!</p>